<header class="header">
  <div class="header__container container">
    <a href="./#hero" class="header__logo logo">
      Bytrix<span class="logo__accent">Plorer</span>
    </a>

    <nav class="header__nav nav" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item"><a href="./#hero" class="nav__link">Главная</a></li>
        <li class="nav__item"><a href="./#about" class="nav__link">О платформе</a></li>
        <li class="nav__item"><a href="./#advantages" class="nav__link">Преимущества</a></li>
        <li class="nav__item"><a href="./#innovations" class="nav__link">Технологии</a></li>
        <li class="nav__item"><a href="./#program" class="nav__link">Программа</a></li>
      </ul>
      <button class="nav__close" aria-label="Закрыть меню">
        <i data-lucide="x"></i>
      </button>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="header__cta btn btn--primary">Начать</a>
      <button class="header__burger" aria-label="Открыть меню">
        <i data-lucide="menu"></i>
      </button>
    </div>
  </div>
</header>